@page "/"

<Card>

    <CardHeader ElementType="ElementType.H4">
        This is the header content
    </CardHeader>

    <CardBody>
        <CardText>This is some body text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
        <CardLink Target="#">First link</CardLink>
        <CardText>Some more body text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
        <CardLink Target="#">Second link</CardLink>
        <CardTitle>Title of the first card body</CardTitle>
    </CardBody>

    <CardFooter>
        This is the footer content
    </CardFooter>

    <CardBody>
        <CardTitle>Title of the second body</CardTitle>
        <CardText>Here is a second body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
    </CardBody>
    
</Card>

<div class="mb-2"></div>

<div class="card rounded-0">
    <table class="table table-bordered table-sm mb-0">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
            </tr>
        </tbody>
    </table>
    <div class="card-body">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
